
@keyframes mymove {
<<<<<<< HEAD
    from {left: 60px;}
    to {left: 960px;}}
=======
    from {left: 0px;}
    to {left: 1000px;}}
>>>>>>> b9d5a89cdcf1b4a835e497efd4889669df7469d6
    
#eye{
    position:absolute;
    background-color: black;
    width:100%;
    height:auto;

}

#dino{
    height: 8rem;
    width: auto;
    position:absolute;
<<<<<<< HEAD
   top:50rem;
   left:55rem;
=======
   top:30rem;
   left:35rem;
>>>>>>> b9d5a89cdcf1b4a835e497efd4889669df7469d6
   animation: mymove 15s infinite;
    animation-timing-function: ease;    


<<<<<<< HEAD
}
@media screen and (max-width: 990px){
    @keyframes mymove {
        from {left: 90px;}
        to {left: 600px;}}
    #dino{
        height: 4rem;

        top:40rem;
        left:55rem;
    }
}

@media screen and (max-width: 700px){
    @keyframes mymove {
        from {left: 90px;}
        to {left: 500px;}}
    #dino{
        height: 4rem;

        top:35rem;
        left:55rem;
    }
}
=======
}
>>>>>>> b9d5a89cdcf1b4a835e497efd4889669df7469d6
